__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.env

temp_uploads/
backend/temp_uploads/

.ipynb_checkpoints/

.vscode/
.idea/

backend/uploads/
backend/static/uploads/

*.webp
*.png
*.jpg
*.jpeg

.DS_Store
Thumbs.db

*.log

build/
dist/
*.egg-info/

node_modules/